
  <div class="container-user">
    <div class="h">
      <h1><strong>Hello, <%= @user.username %></strong>😀</h1>
    </div>
    <div class="text">
      <p> <%= @user.email %> </p>

  <div class="container">
    <p> Created Events: </p>
    <div class="list">
      <% @user.events.each do |event| %>
        <%= link_to event.title, event_path(event) %>
      <% end %>
      </div>
  </div>
  <div class="container">
    <div class="list">
      <p> Events where I am Participating: </p>
      <% @user.participations.each do |participation|  %>
      <ul>
      <%= link_to participation.event.title, event_path(participation.event) %>
      </ul>
      <% end %>
    </div>
    <%= link_to "Create a new event!", podcasts_search_path, class: "nav-link btn" %>
    </div>
  </div>
</div>


