<div class="home-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn5.vectorstock.com/i/1000x1000/43/69/cartoon-people-at-camping-leisure-with-yellow-tent-vector-26874369.jpg)">
  <div style="display: inline;">
    <h1 style="text-align:center;"><strong>Cast with Friends</strong></h1>
    <h3 style="text-align:center;"><strong>Gather around the digital campfire</strong></h3>
  </div>
</div>

<div class="container-user">
  <div class="container">
    <div class="user">
      <h3 class="greetings"><strong>Hello, <%= @user.username %></strong></h3>
      <p style="letter-spacing: 2px;"><%= @user.email %></p>
    </div>

    <div class="float-wrap">
      <ul><%= button_to "New event", podcasts_search_path, class: "btn" %></ul>
      <ul><%= button_to "History", user_path(current_user, anchor: "history"), method: :get, class: "btn" %></ul>
    </div>
    <br>
   <!--  <h1>In less than 15 minutes</h1>
    <%# @user.events.each do |event| %>
      <%# if event.date < (DateTime.now + 900) %>
        <%#= event.title %>
      <%# end %>
    <%# end %> -->
    <%#= link_to "", event_path(event) %>
    <h1>Upcoming created events</h1>
    <div class="flex-parent">
      <div class="input-flex-container">
        <% @user.events.each do |event| %>
          <div class="input">
            <span data-year="<%= event.date %>" data-info="<%= event.title %>"></span>
          </div>
        <% end %>
      </div>
      <div class="description-flex-container">
        <% @user.events.each do |event| %>
          <p><a href="<%= event_path(event) %>"><%= event.description %> 🎧</a></p>
    <!--     <%#= button_to event.title, event_path(event), method: :get, class: "btn" %>
     --> <!--    <%#= link_to event.episode.podcast.LN_image_URL %> -->
        <% end %>
      </div>
    </div>


    <!-- <h1>Upcoming bookmarked events:</h1> -->
    <!-- <div class="flex-parent"> -->
      <!-- <div class="input-flex-container"> -->
        <%# @user.participations.each do |participation|  %>
          <!-- <div class="input"> -->
            <!-- <span data-year="<%#= participation.event.date %>" data-info="<%#= participation.event.title %>"></span> -->
          <!-- </div> -->
        <%# end %>
      <!-- </div> -->
      <!-- <div class="description-flex-container"> -->
        <%# @user.participations.each do |participation|  %>
          <!-- <p><a href="<%#= event_path(participation.event) %>"><%#= participation.event.description %> 🎧</a></p> -->
      <%#= button_to event.title, event_path(event), method: :get, class: "btn" %>
      <!--    <%#= link_to event.episode.podcast.LN_image_URL %> -->
        <%# end %>
      <!-- </div> -->
      <div class="card-product">
        <div class="card-product-infos">
          <% @user.participations.each do |participation|  %>
            <ul>
              <img src=<%=participation.event.episode.podcast.LN_image_URL %>>
              <%= button_to participation.event.title, event_path(participation.event), method: :get, class: "btn" %>
            </ul>
          <% end %>
        </div>
      </div>
      <%#= link_to "Create a new event!", podcasts_search_path, class: "nav-link btn" %>
      <div id="history">
        <h1>Here you can relive your past events</h1>
        <div>
          <% @user.events.each do |event| %>
            <% if event.date < DateTime.now %>
              <p><%= event.title %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




