<h1> <%= @user.username  %> </h1>
<p> <%= @user.email  %> </p>

<p> Created Events: </p>
<% @user.events.each do |event|  %>
  <%= event.title  %>
<% end %>

<p> Events where I am Participating: </p>
<% @user.participations.each do |participation|  %>
  <%= participation.event.title %>
<% end %>

<%= link_to "Create a new event!", user_podcasts_search_path(@user), class: "nav-link btn" %>



