<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag ("Logo_v1.png") %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if current_user.present?  %>
        <li><%= render 'shared/searchbar' %></li>
      <% end %>
      <% if current_user.present? %>
        <li class="nav-item active">
          <%= link_to "See all Events", events_path, class: "nav-link nbtn" %>
        </li>
      <% end %>

      <% if current_user %>
        <li class="nav-item active">
          <%= link_to "Dashboard", user_path(current_user), class: "nav-link nbtn" %>
        </li>
      <% end %>
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <% if current_user.present?  %>
        <li class="nav-item active">
          <%= link_to "Log out", destroy_user_session_path, :method => :delete, class: "nav-link nbtn" %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "Log in", new_user_session_path, class: "nav-link nbtn" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
