<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag ("big_long_logo.png"), html: {class: 'logo'} %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <nav>
        <% if current_user.present? %>
          <%= link_to "All Events", events_path %>
          <%= link_to "Dashboard", user_path(current_user)%>
          <div id="indicator"></div>
        <% end %>
        <% if current_user.present?  %>
          <li class="nav-item active" style="margin: 8px">
            <%= button_to "Log out", destroy_user_session_path, :method => :delete, class: "btn" %>
          </li>
        <% else %>
          <li class="nav-item active" style="margin: 8px">
            <%= button_to "Log in", new_user_session_path, class: "btn" %>
          </li>
        <% end %>

      </nav>

      <% if current_user.present?  %>
        <li id="mag"><%= render 'shared/searchbar' %></li>
      <% end %>

    </ul>
  </div>
</div>

      <%# if current_user.present? %>
       <!--  <li class="nav-item active">
          <%#= button_to "See all Events", events_path, method: :get, class: "btn" %>
        </li> -->
      <%# end %>

      <%# if current_user %>
        <!-- <li class="nav-item active">
          <%#= button_to "Dashboard", user_path(current_user), method: :get, class: "btn" %>
        </li> -->
      <%# end %>
      <!-- <li class="nav-item active">
        <%#= button_to "Home", root_path, class: "btn" %>
      </li> -->
