<h1>Events</h1>

<div class="container-index">
  <div class="sticky-note">
    <p>Do you like what you see?</p>
    <div class="booking">
      <p>Reserve a seat</p>
    </div>
    <p>Check other Travel podcast you can enjoy and chat!</p>
  </div>

  <% @events.each do |event| %>
  <div class="card-product">
    <%= event.title %>
    <div class="container index">
      <div class="col-xs-auto">
        <h1>Events</h1>
        <div class="row col-xs-12">
          <% @events.each do |event| %>
          <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <%= link_to event.title, event_participations_path(event), method: :post %>
            <%= event.description %>
            <%= event.date %>
            <p>Participants: </p>
            <% event.participations.each do |participation| %>
            <p> <%= participation.user.username  %> </p>
            <% end %>
          </div>
          <% end %>
        </div>
