<div class="container-show">
  <div class="container">
    <h2>The podcast you are going to listen 🎧</h2>
    <br>
    <h5>
      <strong>Event:<%= @event.title %></strong>
    </h5>
    <p><%= @event.description %></p>
    <br>
    <p>Podcast: <%= @event.episode.podcast.LN_title %><br>
      Episode: <%= @event.episode.LN_title %></p>

<h1>If you are interested in <%= @event.title %>, join it and meet friends</h1>
<div class="container-show">
  <h1> Event: <%= @event.title %>  </h1>
  <h1> <%= @event.description %>  </h1>
  <h1> Podcast: <%= @event.episode.podcast.LN_title %>  </h1>
  <h1> Episode: <%= @event.episode.LN_title %>  </h1>
  <a id="audio-file"> <%= @event.episode.LN_audio_URL %>  </a>
</div>

<button id="audio-button" type="button" class="btn btn-primary">Play Audio</button>
<button id="audio-pause" type="button" class="btn btn-primary">Pause Audio</button>


    <div class="link">
      <a><%= @event.episode.LN_audio_URL %></a>
    </div>
  </div>
</div>
