<!-- <div class="container-show"> -->
  <div class="container">
    <audio id="audio" src="<%= @event.episode.LN_audio_URL %>" preload="auto" style="display: none;"></audio>
    <!-- <div id="audio-box">

      <div id="time-wrapper">
        <span id="play" class="fas fa-play"></span>
        <input id="progress" type="range" min="0" max="151" value="0">
        <span id="time-played"></span>
      </div>
    </div> -->
    <hr>
    <br>
    <h2>Listening Event: <strong><%= @event.title %></strong></h2>
    <h3>Description: <%= @event.description %></h3>
    <p>Podcast: <%= @event.episode.podcast.LN_title %></p>
    <p>Episode: <%= @event.episode.LN_title %></p>


    <div id="event" class="container-show" data-event-id="<%= @event.id %>">
      <a id="audio-file"> <%= @event.episode.LN_audio_URL %>  </a>
      <div class="row">
        <div class="col">
          <button id="audio-button" type="button" class="btn">Play Audio</button>
        </div>
        <div class="col">
          <button id="audio-pause" type="button" class="btn">Pause Audio</button>
        </div>
      </div>
    </div>
    <div class="link">
      <a id="audio-file" class="audioURL"><%= @event.episode.LN_audio_URL %></a>
    </div>
    <div style= "opacity: 0;" id="agora-temp-token"> <%= @temp_token %> </div>
    <h2 class="text-left">Participants</h2>
    <hr>
    <div id="participant-list" class="d-flex justify-content-around row">

    </div>
  </div>
<!-- </div> -->
