
<h1>If you are interested in <%= event.title %>, join it and meet friends</h1>
<div class="container-show">
  <h1> Event: <%= @event.title %>  </h1>
  <h1> <%= @event.description %>  </h1>
  <h1> Podcast: <%= @event.episode.podcast.LN_title %>  </h1>
  <h1> Episode: <%= @event.episode.LN_title %>  </h1>
  <a id="audio-file"> <%= @event.episode.LN_audio_URL %>  </a>
</div>

<button id="audio-button" type="button" class="btn btn-primary">Play Audio</button>
<button id="audio-pause" type="button" class="btn btn-primary">Pause Audio</button>

