<h1>Events#show</h1>
<h1> Event: <%= @event.title %>  </h1>
<h1> <%= @event.description %>  </h1>
<h1> Podcast: <%= @event.episode.podcast.LN_title %>  </h1>
<h1> Episode: <%= @event.episode.LN_title %>  </h1>
<a> <%= @event.episode.LN_audio_URL %>  </a>


